@page
@model Electronics.Pages.Products.IndexModel
@{
}
<h1>Razor Page</h1>
<div>
    <h4>Product</h4>
    <img src="@Model.Product.URL" width=250 height=250/>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.MakerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.MakerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.SubName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.SubName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.AboutProduct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.AboutProduct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.ReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Price)
        </dd>
    </dl>
</div>