@page
@model Electronics.Pages.CategoriesUser.IndexModel
@{
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="vh-100">
    <div>
        <h2 style="text-align:center">Categories</h2>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            @foreach (var category in @Model.Categories)
            {
                <div class="col-sm-6 col-lg-4 col-lg-2" style="padding : 5px ">
                  <div class="card text-black">
                    <img src="@category.Name"
                      class="card-img-top" alt="..." />
                    <div class="card-body">
                      <div class="text-center">
                        <h5 class="card-title">@category.Name</h5>
                        <p class="text-muted mb-4">@category.Info</p>
                      </div>
                      <div class="d-flex justify-content-center font-weight-bold mt-4">
                        <a asp-page="/CategoriesUser/Details" asp-route-id="@category.Id">Details</a>
                      </div>
                    </div>
                  </div>
                </div>
            }
        </div>
    </div>
</div>