@page
@model Electronics.Pages.ProductsUser.DetailsModel
@{
}

<div>
    <center>
    <h4>@Model.product.SubName</h4>
    <img src="@Model.product.URL" width=250 height=250/>
    </center>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            MakerName
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.product.MakerName)
        </dd>
        <dt class = "col-sm-2">
            SubName
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.product.SubName)
        </dd>
        <dt class = "col-sm-2">
            AboutProduct
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.product.AboutProduct)
        </dd>
        <dt class = "col-sm-2">
            ReleaseDate
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.product.ReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            Price
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.product.Price)
        </dd>
        <dt class = "col-sm-2">
            Category
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.product.Category.Name)
        </dd>
    </dl>
</div>
<div>
    @if (User.Identity.IsAuthenticated)
    {
        <form method="post">
        <input hidden type="number" name="id" value="@Model.product.Id" />
            <button tybe="submit" style="background-color:#646FD4">Add To Cart</button>
        </form>
    }
</div>
