@page
@model Electronics.Pages.Shopping_Cart.IndexModel
@{
}
<div class="row">

    <div class="col-md-8 offset-2">

        <div class="text-center">
            <h2>Your shopping cart summary</h2>
        </div>

        <table class="table">

            <thead>
                <tr>
                    <th>Selected Amount</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Subtotal</th>
                </tr>
            </thead>

            <tbody>

                @foreach (var item in @Model.CartItems)
                {
                    <tr>
                        <td class="align-middle">@item.ProductAmount</td>
                        <td class="align-middle">@item.Product.MakerName :@item.Product.SubName</td>
                        <td class="align-middle">@item.Product.Price.ToString("c")</td>
                        <td class="align-middle">@((item.ProductAmount * item.Product.Price).ToString("c"))</td>
                        <td class="align-middle">
                            <form method="post" asp-page-handler="Remove">
                            <input hidden type="number" name="productId" value="@item.Product.Id" />
                                <button tybe="submit">-</button>
                             </form>
                        </td>

                        <td class="align-middle">
                            <form method="post">
                            <input hidden type="number" name="productId" value="@item.Product.Id" />
                                <button tybe="submit">+</button>
                            <i class="bi bi-cart-dash"></i>
                            </form>

                        </td>
                    </tr>
                }
                
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td>Total: </td>
                    <td>
                        @Model.ShoppingCartTotal.ToString("c")
                    </td>
                    <td></td>
                </tr>
            </tfoot>

        </table>
        <div class="text-center">
        <a class="btn btn-outline-success" href="../ProductsUser/Index">
            Add more items
        </a>
     </div>
    </div>
</div>