@page
@model Electronics.Pages.Shopping_Cart.IndexModel
@{
}
<div class="row vh-100">

    <div class="col-md-8 offset-2">

        <div class="text-center">
            <h2>Your shopping cart summary</h2>
        </div>

        <table class="table">

            <thead>
                <tr>
                    <th>Selected Amount</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Subtotal</th>
                </tr>
            </thead>

            <tbody>

                @foreach (var item in @Model.CartItems)
                {
                    <tr>
                        <td class="align-middle">@item.ProductAmount</td>
                        <td class="align-middle">@item.Product.MakerName :@item.Product.SubName</td>
                        <td class="align-middle">@item.Product.Price.ToString("c")</td>
                        <td class="align-middle">@((item.ProductAmount * item.Product.Price).ToString("c"))</td>
                        <td class="align-middle">
                            <form method="post" asp-page-handler="Remove">
                            <input hidden type="number" name="productId" value="@item.Product.Id" />
                                <button class="btn btn-outline-danger" tybe="submit">remove</button>
                             </form>
                        </td>

                        <td class="align-middle">
                            <form method="post">
                            <input hidden type="number" name="productId" value="@item.Product.Id" />
                                <button class="btn btn-outline-success" tybe="submit">add</button>
                           <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-cart-dash" viewBox="0 0 16 16">
                            <path d="M6.5 7a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4z"/>
                            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                           </svg>
                            </form>

                        </td>
                    </tr>
                }
                
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td>Total: </td>
                    <td>
                        @Model.ShoppingCartTotal.ToString("c")
                    </td>
                    <td></td>
                </tr>
            </tfoot>

        </table>
        <div class="text-center">
        <form method="post" asp-page-handler="Checkout">
            <input type="submit" value="Check Out" style="background-color:#646FD4" class="btn btn-primary" />
        </form>
        <a class="btn btn-outline-success" href="../ProductsUser/Index">
            Add more items
        </a>
     </div>
    </div>
</div>