@using Electronics.Data.ViewModels
@model List<Order>

@{
    ViewData["Title"] = "All Orders";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4> List of all orders</h4>
        </p>

        <table class="table"  style="text-align:center">
            <thead>
                <tr>
                    <th class="align-middle">Order ID</th>
                    <th class="align-middle">Email</th>
                    <th class="align-middle">Items</th>
                    <th class="align-middle">Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
               {
                   <tr>
                       <td class="align-middle"> @order.Id </td>
                       <td class="align-middle"> @order.Email</td>
                       <td class="align-middle"> 
                           <ul style="list-style-type:none">
                               @foreach (var item in order.OrderItems)
                              {
                                  <li>
                                      <div class="alert alert-info" role="alert">
                                          <span>@item.Product.MakerName  @item.Product.SubName</span>
                                          <span class="badge bg-success">
                                              @item.Amount
                                          </span>[@item.Price.ToString("C")]
                                      </div>
                                  </li>
                              }
                           </ul>
                       </td>
                       <td class="align-middle">
                           @order.OrderItems.Select(m => m.Product.Price * m.Amount).Sum().ToString("c")
                       </td>
                   </tr>
               }
            </tbody>
        </table>
    </div>


</div>